.app {
    transition: all 0.8s;
    height: 100%;
    padding: 10px;
}

.app-grid-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    grid-template-rows: 2em 12em;
}

.app-theme-buttons-container {
    grid-row: 1;
    grid-column: 1;
}

.app-theme-buttons {
    padding: 5px;
    display: inline-block;
}

.app-champion {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
    text-align: center;
    border-radius: 10%;
}

.app-champion-one {
    grid-row: 2;
    grid-column: 1;
}

.app-champion-two {
    grid-row: 2;
    grid-column: 2;
}

.app-champion-three {
    grid-row: 2;
    grid-column: 3;
}

.app-champion-add {
    grid-row: 2;
    grid-column: 4;
}