.app {
    transition: all 0.8s;
    height: 100%;
    padding: 10px;
}

.app-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    gap: 10px;
    grid-template-rows: 3rem 14rem 14rem;
    justify-content: center;
    border: 3px solid black;
}

.app-theme-buttons-container {
    grid-row: 1;
    grid-column: 1;
    border: solid black 2px;
    border-radius: 20%;
}

.app-theme-buttons {
    padding: 5px;
    display: inline-block;
}

.app-champion {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
    text-align: center;
    border-radius: 10%;
    border: 1px solid black;
    padding: 5px;
    width: 12rem;
    display: inline-block;
    margin: 3px;
}

.app-seleced-champions-container {
    grid-row: 3;
    grid-column: span 4/ 4;
    border: 2px solid black;
}

.app-champions-container {
    grid-row: 2;
    grid-column: span 4/ 4;
    border: 2px solid black;
}

.app-champion-add {
    grid-row: 2;
    grid-column: 4;
    width: 10rem;
}